
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}
  
body{
    background-color: #f3f5f9;
    width: 100%;
}
  
.main{
    width: 100%;
}
.main .header{
    padding: 20px;
    width: 100%;
    background: #fff;
    color: black;
    border-bottom: 1px solid #e0e4e8;
    font-weight: bold;
    font-size: 25px;
}
  
.main .info{
    margin-left: 20px;
}

.main .items{
    padding-top: 20px;
    background: #fff;
}
.main .items form .search,
.main .items form #sport,
.main .items form #all,
.main .items form #btn{
    height: 30px;
    margin: 10px;
}
.main .items form .search{
    width: 180px;
}
.main .items form #sport,
.main .items form #all{
    width: 130px;
}
.main .items form #btn{
    background: #17bf63;
    color: white;
    border: 1px solid #17bf63;
    text-align: center;
    cursor: pointer;
    padding: 0px 24px;
}
.main .items form #btn:hover {
    background-color: green; /* Màu nền khi di chuột qua */
}


.container {
    margin: 20px 9px;
    display: flex;
    /* justify-content: flex-start; */
    border: 1px solid #ccc;
    box-shadow: 8px 8px 8px 2px rgba(36, 33, 33, 0.1);
    cursor: pointer;
    width: 70%;
    position: relative;
    
}

.profile {
    width: 50%;
}

.profile img {
    width: 235px;
    /* height: 128px; */
    height: 100%;
    position: absolute;
}

.info {
    width: 90%;
    padding: 27px;
    box-sizing: border-box;
}
.info .program_name{
    font-weight: bold;
    font-size: 25px;
}

.info .program_title{
    font-size: 15px;
    color: black;
    padding-top: 10px;
}


.actionForm{
    display: flex;
}
.actionForm p{
    font-size: 15px;
    padding-right: 10px;
}

/*
.actionForm p.del_program{
    color: red;
}
.actionForm p.program_sta{
    color: yellowgreen;
}
.more-link {
    cursor: pointer;
    color: blue;
}

.more-link:hover {
    text-decoration: underline;
}

.more-link::after {
    content: '\25BC';
    position: absolute;
    top: 90px; 
    right: 240px; 
    font-size: 10px;
    transform: translateY(-50%); 
    color: blue;
  }
*/

  
.del_program {
    background-color: #ff4d4d; 
    color: #fff; 
    padding: 5px 10px; 
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 13px; 
    font-weight: bold; 
    transition: background-color 0.3s ease; 
    border: 2px solid #ff4d4d;
}

.del_program:hover {
    background-color: #d14848; 
    border: 2px solid #d14848; 
}



.more-link {
    background-color: #17bf63; 
    color: #fff; 
    padding: 5px 10px; 
    border-radius: 5px; 
    border: none;
    cursor: pointer;
    font-size: 13px; 
    font-weight: bold; 
    transition: background-color 0.3s ease; 
}

.more-link:hover {
    background-color: #0d8053; 
}

